

@media (max-width: 1800px) {
    .container {
        width: 1200px;
    }
    .fs-32 {
        font-size: 26px !important;
    }
    .fs-60 {
        font-size: 54px !important;
    }
    ::placeholder {
        color: #909ba5;
        font-size: 18px;

    }
    .header-menu  li a{
        color: #04369C;
        font-size: 15px;
    }
    .menu ul.header-menu {
        display: flex;
        gap: 28px;
    }
    a.nav-link.btn-trial {
        background-color: #ffffffbf;
        box-shadow: 9px 8px 8px 2px #366da9;
    }
    .banner-img img {
        border-radius: 12px;
        position: relative;
        right: 103px;
    }
    .banner-play-img img {
        position: absolute;
        top: 130px;
        left: 148px;
        z-index: 99;
    }
    .banner-info h1 {
        width: 707px;
        font-size: 46px;
        color: white;
        line-height: 62px;
        font-weight: 600;
    }
    .banner-img-soc a img {
        width: 150px;
        height: 65px;
    }
    .multiple-unique-features-tabs-item.active:after {
        content: "";
        background: #60D58D;
        height: 8px;
        width: 100%;
        display: inline-block;
        position: absolute;
        z-index: 99;
        top: 107px;
        left: 0;
        border-radius: 6px;
    }
    .face_recognition p {
        font-size: 19px;
        margin-top: 24px;
        color: #04396C;
    }
    .face_recognition {
        flex: 1;
        background-image: url(images/face_recognition_bg.png);
        background-position: right 35px;
        background-repeat: no-repeat;
        background-size: 45%;
    }
    .many-to-save-section {
        margin: 160px 0 0;
        background: url(images/many-to-save-body-img.png);
        background-repeat: no-repeat;
        background-position: 84% 127px;
        padding: 0 0 238px;
        background-size: 70%;
    }
    .multiple-unique-features-tabs-item a {
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        color: #04396C;
        display: inline-block;
    }
    .multiple-unique-features-title p {
        font-size: 68px;
        font-weight: 500;
        color: #04396C;
        margin-bottom: 21px;
    }
    .customer-reviews-tabs {
        display: flex;
        gap: 25px;
        justify-content: center;
        padding: 10px 0;
        border-bottom: 8px solid rgba(0, 0, 0, 0.07);
        text-align: center;
        margin-bottom: 80px;
        padding-bottom: 40px;
    }
    .customer-reviews-tabs-item a {
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        color: #04396C;
        display: inline-block;
    }
    .customer-reviews-tabs-item.active:after {

        top: 133px;

    }
    .mobiclocks-in-action-section {

        background-position: 253px 232px;

    }
    .footer-menu-section {
        display: flex;
        gap: 50px;
        padding-bottom: 152px;
    }
    .footer-info-text a {
        display: block;
        color: white;
        font-weight: 400;
        padding-top: 8px;
        text-decoration: none;
        font-size: 20px;
        line-height: 28px;
    }
    .geo_fence {
        background-position: 84% 30%;

    }
    .practical-features-description {

        width: 70%;
    }
    .copy-right .container {
        gap: 298px;
    }

}



@media (max-width: 1600px) {
    .container {
        width: 1333px;
    }
    .banner-info h1 {
        font-size: 45px;
        width: 635px;
    }
    .banner-info h3 {
        font-size: 25px;
    }
    .banner-img img {
        height: 410px;
        width: 470px;
    }
    .banner-play-img img {
        position: absolute;
        top: 130px;
        left: -105px;
        z-index: 99;
    }
    .banner-section {
        display: flex;
        justify-content: space-evenly;
        margin-top: 124px;
    }
    .banner-img-soc a img {
        width: 115px;
        height: 50px;
        box-shadow: -5px 3px 9px 1px #fff;
    }
    .construction-industry-title h2 {
        text-align: center;
        font-weight: 500;
        color: #04396C;
    }
    .construction-industry-text {
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        line-height: 30px;
        width: 815px;
        margin: 0 auto;
        color: #04396C;
    }
    .customer-reviews-tabs-item.active:after {
        content: "";
        top: 96px;
    }
    .multiple-unique-features-tabs {
        display: flex;
        gap: 33px;
        justify-content: center;
        padding: 10px 0;
        border-bottom: 8px solid rgba(0, 0, 0, 0.07);
        text-align: center;
        padding-bottom: 20px;
    }
    .multiple-unique-features-tabs-item.active:after {
        content: "";
        background: #60D58D;
        height: 8px;
        width: 100%;
        display: inline-block;
        position: absolute;
        z-index: 99;
        top: 76px;
        left: 0;
        border-radius: 6px;
    }
    .many-to-save-tabs-item.active:after {
        content: "";

        top: 48px;

    }
    .practical-features-info {
        padding: 229px 0px 150px;
    }
    .our-story-body-info {
        width: 565px;
    }
    .footer-menu-section {

        margin-left: 50px;
    }
    .copy-right .container {

        justify-content: space-evenly;

    }
    .fs-60 {
        font-size: 50px !important;
    }
    .fs-42{
        font-size: 38px !important;
    }
    .fs-32{
        font-size: 23px !important;
    }
    .fs-23{
        font-size: 20px !important;
    }
    .our-story-img {
        position: relative;
        width: 54%;
        border-radius: 20px;
    }
    .our-story-section {

        margin-top: 140px;
    }

}





@media (max-width: 1380px) {
    .container {
        width: 1100px;
    }
    header {
        background-image: url(images/header-bg.png);
        background-size: 1340px;
        background-repeat: no-repeat;
    }
    .menu ul.header-menu {
        display: flex;
        gap: 17px;
    }
    .banner-play-img img {
        position: absolute;
        top: 130px;
        left: -35px;
        z-index: 99;
    }
    .banner-img img {
        height: 410px;
        width: 470px;
    }
    .banner-img img {
        border-radius: 12px;
        position: relative;
        right: -27px;
    }
    .practical-features-info {
        padding: 160px 0px 150px;
    }
    .customer-reviews-tabs-item.active:after {
        top: 123px;
    }

}



@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    header {

        background-size: 1329px;

    }
    .our-story-body-info {
        width: 90%;
    }
    .banner-section {
        display: inherit;
    }
    .banner-section {
        display: initial;
        justify-content: space-between;
        margin-top: 32px;
    }
    .banner-img img {
        width: 95%;
    }
    .banner-img-soc {

        margin-top: 25px;

    }
    .banner-info h3 {
        width: 100%;

    }
    .banner-info h1 {
        width: 100%;
    }
    .banner-info {
        padding-top: 0;
        margin-bottom: 55px;
        text-align: center;
    }
    .banner-img {
        width: 100%;
        text-align: center;
    }
    .banner-play-img img {

        left: 422px;
        z-index: 99;
    }
    .clock-info {
        position: absolute;
        top: 48%;
        left: 25%;
    }
    .menu-btn {
        position: absolute;
        z-index: 9999999;
        right: 20px;
        /* left: 20px; */
        top: 20px;
        position: fixed;
        height: 50px;
        display: block;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
        /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
        background: #fafdff;
        transition: all 0.3s ease-in-out;
    }
    .wrapper {
        z-index: 999999;
    }
    .wrapper {
        position: fixed;
        top: 0;
        left: 50%;
        display: block;
        height: 100%;
        width: 50%;
        /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
        /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
        /* clip-path: circle(25px at calc(0% + 45px) 45px); */
        background: #04396c96;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
    }
    .menu ul.header-menu {
        display: none;
        gap: 17px;
    }
    .many-to-save-section {

        background-position: 116% 177px;

    }
    .many-to-save-tabs-item.active:after {
        content: "";
        top: 43px;
    }
    .see-mobiclocks-section-info {

        top: -52px;

    }
    .see-mobiclocks-section {
        background-size: 73%;
        top: -43px;
    }
    .see-mobiclocks-section {
        background-position: 48% 23px;

    }
    .start-saving-with-mobiclock-section-left {
        padding-top: 0px;
    }
    .start-saving-with-mobiclock-section {

        margin-top: 0px;

    }
    .start-saving-with-mobiclock-info p {

        width: 42%;
    }
    .our-story-section {
        margin-top: 70px;
    }
    .our-story-section {
        height: 290px;
        margin-bottom: 378px;
        margin-top: 63px;
    }
    .our-story-body-title p {
        color: #04396C;
        line-height: 45px;
    }
    .our-story-body-title {

        margin-top: 0;

    }
    .our-story-body-info p {
        margin: 7px 0;
    }
    img.bg {
        position: absolute;
        right: -122px;
        bottom: -185px;
        transform: rotate(30deg);
        z-index: -1;
        width: 79%;
    }
    .our-story-img img.our-img {
        margin-left: 100px;
        margin-top: 0;
    }
    .multiple-unique-features-tabs-item.active:after {
        top: 67px;
    }
    .mobiclocks-in-action-section {

        padding-top: 245px;

    }
    .face_recognition p {

        width: 555px;

    }
    .face_recognition {
        background-position: right 152px;
        background-size: 46%;
    }
    .geo_fence {
        background-size: 58%;
        background-position: 92% 24%;

    }
    .practical-features-info {
        width: 60%;
        display: inline-block;
        padding: 115px 0 54px;
    }
    .practical-features-section {

        background-position: 110% 33px, left top;

        background-size: 58%, 57%;

        bottom: 355px;

    }
    .practical-features-description {
        width: 72%;

    }
    .practical-features-btn a {
        font-size: 16px;
    }
    .practical-features-btn {
        width: 170px;

    }
    .owl-carousel .owl-stage-outer {
        padding: 8px 5px;
        height: 328px;
    }
    .customer-reviews-tabs-item.active:after {
        content: "";
        top: 109px;
    }
    .why-mobiclocks-description {
        font-size: 23px;
        width: 96%;
        line-height: 30px;
        font-weight: 300;
        margin: 5px auto;
        text-align: center;
    }
    .mobiclocks-in-action-section {
        background-position: 253px 211px;
    }
    .faq-section-box.d-flex {
        width: 88%;

    }
    .footer-menu-section {
        display: grid;
        /* gap: 50px; */
        grid-template-columns: repeat(3,auto);
        padding-bottom: 152px;
    }
    i.fa.fa-bars {
        color: #47b7e8;
    }
    .fs-60 {
        font-size: 38px !important;
    }
    .fs-23 {
        font-size: 17px !important;
    }
    .fs-32 {
        font-size: 20px !important;
    }
    .copy-right .container {
        gap: 156px;
    }
    .copy-right-social a {
        font-size: 30px;
    }
    .customer-reviews-body-info h3 {
        padding-left: 0;
    }
    .customer-reviews-body-info p {
        padding-left: 0;
    }
    .practical-features-description {
        line-height: 22px;

    }
    .practical-features-title h3 {
        line-height: 54px;
        width: 59%;
    }




}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .banner-play-img img {
        left: 320px;
    }
    .banner-info h1 {
        line-height: 54px;

    }
    .clock-section {
        width: 550px;
        height: 540px;
    }
    .clock-box img {
        width: 89%;
        height: 80%;
    }
    .box-item-1 {
        right: 187px;
        top: -81px;
    }
    .box-item-4 {
        right: 190px;
        position: absolute;
        bottom: -119px;
    }
    .box-item-3 {
        position: absolute;
        right: -72px;
        top: 213px;
    }
    .box-item-2 {
        position: absolute;
        top: 213px;
        background-color: #fafdff;
        left: -65px;
    }
    .box-item-2 i {
        bottom: -12px;
        right: 50px;
    }
    .box-item-4 i {
        top: 49px;
        left: 149px;
    }
    .box-item-5 {
        right: 109px;
        top: 263px;

    }
    .clock-img {
        top: 170px;
        left: 165px;
    }
    .many-to-save-body-info p {
        width: 46%;
    }
    .see-mobiclocks-section {
        top: -146px;
    }
    .see-mobiclocks-section {
        padding: 70px 0;
    }
    .see-mobiclocks-section-info {
        top: 13px;
    }
    .see-mobiclocks-section-info p {
        color: #04396C;
        text-align: center;
        width: 74%;
        margin: 0 auto;
    }
    .start-saving-with-mobiclock-section {
        padding: 0 0 289px 0px;
        background-size: 63%;
        background-position: 100% 27%;
    }
    .start-saving-with-mobiclock-info h3 {
        margin-bottom: 0;
    }
    .our-story-section {
        height: 210px;
    }
    .our-story-img img.our-img {
        margin-left: 77px;
        margin-top: 0;
    }
    .our-story-section {

        margin-top: 0;
    }
    .our-story-section {
        flex-direction: column-reverse;
        width: 75%;
        margin: 315px auto;
    }
    .our-story-img {
        width: 70%;
        display: block;

    }
    .multiple-unique-features-section {
        margin-top: 0;
        margin-bottom: 160px;
    }
    .face_recognition p {
        width: 71%;
    }
    .face_recognition {
        background-position: right 219px;
    }
    .multiple-unique-features-tabs-item.active:after {
        top: 89px;
    }
    .geo_fence {
        background-size: 60%;
        background-position: 110% 28%;
    }
    .practical-features-title h3 {
        line-height: 40px;
        width: 100%;
    }
    .practical-features-description {
        margin-bottom: 18px;
    }
    .practical-features-btn {
        padding: 12px 7px;
    }
    .customer-reviews-tabs-item.active:after {
        top: 132px;
    }
    .customer-reviews-body.active {
        display: initial;

    }
    .customer-reviews-body-info p {
        width: 100%;
    }
    .customer-reviews-body-info h3 {
        margin-top: 31px;
    }
    .mobiclocks-in-action-section {
        margin-bottom: 103px;
        background-image: url(images/see_mobiclock-bg-2.png);
        padding-top: 166px;
        background-size: 17%;
        background-position: 74px 98px;
    }
    footer {
        padding-top: 119px;
    }
    .footer-menu-section {

        padding-bottom: 84px;
    }
    .copy-right .container {
        gap: 12px;
        flex-direction: column-reverse;
    }
    .copy-right-text {
        order: 2;
    }
    .copy-right-year {
        order: 1;
    }
    .copy-right-social {
        order: 2;
    }
    .construction-industry-text {
        width: 700px;

    }
    .owl-carousel .owl-stage-outer {
        padding: 8px 5px;
        display: none;
    }
    .carusel-body{
        display: flex;
        position: relative;
        top: -86px;
    }
    .owl-dots {
        display: none;
    }


}




@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .start-saving-with-mobiclock-btn {
        display: flex;
        justify-content: center;
    }
    header {
        background-size: 970px;
    }
    .banner-info {
        padding-top: 0;
        margin-bottom: 77%;
        text-align: center;
    }
    .banner-img img {
        right: 31px;
    }
    .banner-img-soc a img {
        width: 120px;
        height: 47px;

    }
    .banner-play-img img {
        left: 177px;
    }
    .clock-box img {
        width: 60%;
    }
    .clock-section {
        width: 400px;
        height: 400px;
    }
    .clock-box img {
        width: 100%;
    }
    .clock-img {
        width: 140px;
        height: 160px;
        top: 123px;
        position: absolute;
        left: 129px;
    }
    .clock-info p {
        font-size: 40px;
        width: 215px;
        margin: 0 auto;
        padding: 0 0px;
        color: #04396C;
        text-align: center;
        line-height: 30px;
        font-weight: 500;
    }
    .clock-info span {
        font-size: 24px;
        font-weight: 500;
        color: #04396C;
        padding-left: 4px;
        display: block;
        text-align: center;
    }
    .clock-info {
        position: absolute;
        top: 46%;
        left: 23%;
    }
    .box-item-1 {
        width: 87px;
        right: 149px;
        top: -45px
    }
    .box-item-2 {
        width: 87px;
        top: 115px;
        left: -33px;
    }
    .box-item-3 {
        width: 87px;
        right: -36px;
        top: 126px;
    }
    .box-item-4 {
        width: 87px;
        right: 155px;
        bottom: -69px;
    }
    .box-item-5 {
        right: 32px;
        top: 207px;
        line-height: 31px;
        width: 320px;
        position: absolute;
    }
    .box-item-5 p {
        font-size: 40px;

    }
    .box-item-1 p {
        font-size: 14px;
        font-weight: 500;
    }
    .box-item-2 p {
        font-size: 14px;
        font-weight: 500;
    }
    .box-item-3 p {
        font-size: 14px;
        font-weight: 500;
    }
    .box-item-4 p {
        font-size: 14px;
        font-weight: 500;
        text-align: inherit;
    }
    .box-item-5 span {
        font-size: 22px;
        font-weight: 700;

        display: block;

        text-align: center;
    }
    .customer-reviews-tabs-item.active:after {
        top: 118px;
    }
    .box-item-1 i {
        top: 33px;
        left: -8px;
    }
    .box-item-2 i {
        bottom: -17px;
        right: 34px;
    }
    .box-item-4 i {
        top: 27px;
        left: 84px;
    }
    .box-item-3 i {
        left: 30px;
        top: -13px;
    }
    .construction-industry-section-info {
        margin-bottom: 182px;
        margin-top: 330px;
    }
    .construction-industry-title h2 {
        text-align: inherit;
    }
    .construction-industry-text {
        width: 100%;
        text-align: initial;
    }
    .many-to-save-section {

        background-image: none;
    }
    .many-to-save-body-img {
        display: block;

    }
    .many-to-save-section {
        background-image: url(images/header-bg-2.png);
        background-size: 46%;
        background-position: right 200px;
        background-repeat: no-repeat;
    }
    .many-to-save-tabs {
        border-bottom: 2px solid rgba(0, 0, 0, 0.07);
        margin-bottom: 18px;

    }
    .many-to-save-body.active {
        display: flex;
        flex-direction: column-reverse;
    }
    .many-to-save-body-info p {
        width: 100%;
        font-weight: 300;
    }
    .fs-42{
        font-size: 18px !important;
    }
    .fs-23{
        font-size: 14px !important;
    }
    .fs-32 {
        font-size: 14px !important;
    }
    .fs-60{
        font-size: 24px !important;
    }
    .learn-more p {
        font-size: 14px;
        color: #60D58D;
        font-weight: 600;
    }
    .see-mobiclocks-section {
        background-image: url(images/see_action_bg2.png);
        background-size: 52%;
        background-position: 48% -116px;
        padding: 73px 0 72px;
    }
    .see-mobiclocks-section-info p {
        width: 38%;
    }
    .see-mobiclocks-section-btn {
        padding: 18px 0;
    }
    .see-mobiclocks-section-btn {

        width: 223px;

    }
    .see-mobiclocks-section-info h3 {
        text-align: center;
        width: 179px;
        line-height: 26px;
        margin: 0 auto;
        padding-top: 0px;
        padding-bottom: 24px;
    }
    .start-saving-with-mobiclock-section {
        /* display: flex; */
        justify-content: space-between;
        padding: 0 0 208px 0px;
        background-image: url(images/mobile-image.png);
        background-size: 75%;
        background-position: left 17%;
        background-repeat: no-repeat;
        margin-top: 0;
        z-index: -1111;
    }
    .start-saving-with-mobiclock-info p {
        margin-top: 36px;
        width: 252px;
        font-size: 14px !important;
        color: #fff;
        font-weight: 500;
        line-height: 19px;
    }
    .start-saving-with-mobiclock-info {
        margin-bottom: 59%;
    }
    .learn-more{
        display: block;
    }
    .our-story-img {

        top: -75px;

    }
    .our-story-img img.our-img {
        margin-left: 0px;
        margin-top: 0;
        width: 100%;
    }
    img.bg {
        position: absolute;
        right: -118px;
        bottom: -144px;
        transform: rotate(0);
        z-index: -1;
        width: 74%;
    }
    .our-story-section {

        margin: 315px auto 129px;
    }
    .geo_fence {
        flex: 1;
        background-size: 47%;
        background-image: url("images/header-bg-2.png");
        background-position: right 64px;
        background-repeat:  no-repeat;
        position: relative;
    }
    .multiple-unique-features-body-img {
        display: block;
        position: relative;
        top: 82px;
        left: 13px;
        width: 88%;
    }
    .geo-fence-description p {
        line-height: 20px;
        font-weight: 300;
        margin-top: 8px;
    }
    .p-2{
        display: none;
    }
    .practical-features-section {
        background-position: 58% 222px, left top;
        background-size: 63%, 78%;
        bottom: 355px;
    }
    .practical-features-description p {
        width: 384px;
    }
    .practical-features-btn {
        background-color: #47B7E8;
        display: block;
        margin: 230px auto 30px;
    }
    .practical-features-btn a {
        font-size: 16px;
        color: #fff;
    }
    .practical-features-info {
        padding: 0 0 0;
    }
    .practical-features-title h3 {

        margin-top: 115px;
    }
    .why-mobiclocks-description {
        text-align: left;
    }
    .why-mobiclocks-title h3 {
        text-align: left;
        margin-left: 5px;
    }
    .multiple-unique-features-tabs-item.active:after {
        display: none;
    }
    .customer-reviews-section-2 {
        padding-top: 50px;

    }
    .mobiclocks-in-action-body span {
        display: initial;
    }
    .mobiclocks-in-action-body {
        text-align: left;
        padding: 7px 0;
    }
    .section-center-title {

        text-align: left;
    }
    .forms {
        display: initial;
        margin-bottom: 20px;
    }
    .forms-box {
        margin-bottom: 14px;
    }
    .forms-message-box textarea {
        margin-top: 0;

    }
    .forms-message-btn button {

        width: 223px;
        padding: 18px 14px;

    }
    .section-left-title h3 {

        margin-bottom: 0;
    }
    .box-1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        grid-row-end: 3;
    }
    .box-2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .box-3 {
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .box-6 {
        grid-column-start: 1;
        grid-column-end: 1;

    }
    .footer-info-text {
        padding-bottom: 43px;
    }
    .footer-menu-section {
        padding-bottom: 84px;
        gap: 20px;
    }
    .box-item-text p a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        line-height: 17px;
    }
    .multiple-unique-features-tabs ,
    .customer-reviews-tabs {

        border-bottom: 2px solid rgba(0, 0, 0, 0.07);
    }
    .faq-section-box.d-flex {
        width: 75% !important;}


}

@media (max-width: 590px) {
    .container {
        width: 90%;


    }
    .customer-reviews-body-img {
        width: 445px;
    }
    .practical-features-title h3 {
        margin-top: 38px;
    }
    .practical-features-description p {
        width: 280px;
    }
    .start-saving-with-mobiclock-info {
        margin-bottom: 33%;
    }
    .see-mobiclocks-section {

        background-size: 68%;
        background-position: 56% -68px;
    }
    .tab-name .under-line .slick-arrow {
        display: none !important;
    }

}


