* {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

body {
    font-family: "Hind Madurai";
    background-color: #FAFDFF;
}

.content {
    max-width: 1920px;
    margin: 0 auto;
}
main {top: -14px;position: relative;}

a {
    cursor: pointer;
}

.fs-60{
    font-size: 68px !important;
}
.fs-42{
    font-size: 42px !important;
    font-weight: 400;
}
.fs-32{
    font-size: 32px !important;

}
.fs-23{
    font-size: 23px !important;
}
.d-flex {
    display: flex;
}

.w-260 {
    width: 260px;
}

.w-210 {
    /* width: 210px; */
}

.w-220 {
    /* width: 220px; */
}

.w-218 {
    /* width: 220px; */
}

.w-185 {
    /* width: 185px; */
}

.w-153 {
    /* width: 153px; */
}

.w-133 {
    /* width: 133px; */
}

::placeholder {
    color: #909ba5;
    font-size: 23px;

}
.banner {
    width: revert;
}
.banner-img-soc a img:hover {
    box-shadow: 0px 0px 15px 1px #03232d87;
}

.see-mobiclocks-section-btn:hover {
    background-color: #1e792b9c;
    box-shadow: 4px 2px 15px 2px #cccccc;
}

.forms-message-btn button:hover {
    background-color: #fff;
    color: #47b7e8;
    box-shadow: 7px 9px 10px 3px #63acd3;
}
.mobiclocks-in-action-btn a:hover {
    background-color: #fff;
    color: #9ede9c;
    box-shadow: 8px 6px 13px 1px #88d086;
}
.start-saving-with-mobiclock-btn a:hover {
    background-color: #fff;
    color: #47b7e8;
    box-shadow: 12px 7px 10px 2px #63acd3c7;
}
header {
    background-image: url("images/header-bg.png");
    background-size: 1335px;
    background-repeat: no-repeat;
    height: 1078px;
    padding-top: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.container {
    width: 1374px;
    margin: 0 auto;
}

.menu ul.header-menu {
    display: flex;
    gap: 53px;
}

.menu ul li {
    list-style: none;
    position: relative;
}

.nav-link {
    font-size: 17px;
    color: #fff;
    line-height: 23px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}

.menu li.nav-item:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}


.sub-menu a:hover {
    background-color: #eee;
    color: black;
}

.contact {
    color: #04396C;
}

.btn-trial {
    background-color: #47B7E8;
    color: #fff;
    padding: 17px 21px;
    margin-right: 13px;
    border-radius: 10px;
}

.banner-section {
    display: flex;
    justify-content: space-between;
    margin-top: 124px;
}

.banner-info h1 {
    width: 750px;
    font-size: 68px;
    color: white;
    line-height: 68px;
    font-weight: 700;
}

.banner-info h3 {
    margin-top: 18px;
    width: 540px;
    font-size: 32px;
    color: white;
    line-height: 35px;
    font-weight: 400;
}


.banner-img img {
    height: 425px;
    border-radius: 12px;
    position: relative;
    right: -72px;
}

.banner-img-soc {
    display: flex;
    gap: 22px;
    margin-top: 82px;
    margin-bottom: 60px;
    justify-content: center;
}

.banner-img-soc img {
    width: 195px;
    height: 67px;
}

a {
}

.banner-info a {
    margin-top: 28px;
    padding: 18px 0;
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 12px;
    width: 218px;
    display: inline-block;
    text-align: center;
}

.banner-info-btn {
    color: #47B7E8;
    text-decoration: none;
    font-weight: 700;

}

.banner-info {
    padding-top: 40px;
}

a.banner-info-btn:hover {
    color: #ffffff;
    box-shadow: 1px 2px 7px 1px #182e44a3;
    background-color: #63acd378;
}


.question-img {
    display: inline-block;
    position: fixed;
    bottom: 56px;
    z-index: 9999;
    right: 57px;
}

.shadow-img {
    box-shadow: 5px 10px 34px 2px #4b637b85;
}


.construction-industry-section {
    margin: 0 auto;
}

.construction-industry-title h2 {
    font-size: 68px;
    text-align: center;
    font-weight: 500;
    color: #04396C;
}

.construction-industry-text {

    font-size: 23px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    width: 900px;
    margin: 0 auto;
    color: #04396C;
}
.construction-industry-title {
    margin-bottom: 4px;
}


.section-left-title h3 {
    font-size: 60px;
    color: #04396C;
    font-weight: 500;
    margin-bottom: 45px;
}


.clock-section {
    /* border: 2px dashed #04396c7a; */
    /* border-radius: 50%; */
    width: 635px;
    height: 615px;
    margin: 80px auto;
    position: relative;
    background: url(images/clock-borders.png);
    background-repeat: no-repeat;
    background-size: 94%;
    background-position: 3px 0;
    position: relative;
    top: -6px;
}

.box-item-1 {
    position: absolute;
    right: 242px;
    top: -75px;
}

.box-item-1 p {
    width: 175px;
    line-height: 4px;
}

.box-item-1 i {
    position: absolute;
    transform: rotate(-97deg);
    top: 79px;
    font-weight: 600;
    font-size: 24px;
    color: #04369c82;
}

.clock-box img {
    width: 100%;
    height: 100%;
    position: relative;
}

.clock-box {
    background-color: white;
    font-size: 20px;
}


.forms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.forms-box input {
    display: inline-block;
    width: 100%;
    padding: 15px;
    border: 1px solid #47B7E866;
    border-radius: 20px;
    font-size: 20px;
    color: #adada7;
    box-sizing: border-box;
}

.forms-message-box textarea {
    margin-top: 44px;
    margin-bottom: 28px;
    display: inline-block;
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 1px solid #47B7E866;
    border-radius: 20px;
    font-size: 20px;
    color: #adada7;
    box-sizing: border-box;
}


.forms-message-btn {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 128px;
}

.forms-message-btn button {
    background-color: #47B7E8;
    width: 160px;
    padding: 14px 14px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: #fff;
}


footer {
    background-color: #47B7E8;
    padding-top: 156px;
}

.footer-info-text a {
    display: block;
    color: white;
    font-weight: 400;
    padding-top: 8px;
    text-decoration: none;
    font-size: 23px;
    line-height: 28px;
}

.footer-info-text a i {
    padding-right: 9px;
}


.footer-menu-section {
    display: flex;
    gap: 70px;
    padding-bottom: 152px;
}

.box-item-title p {
    margin-bottom: 30px;
    color: white;
    font-size: 17px;
    font-weight: 700;
}

.box-item-text p a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.copy-right {
    border-top: 1px solid #ffffff;
    padding: 13px 0;
}

.copy-right .container {
    gap: 335px;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}

.copy-right-social a {
    color: white;
    font-size: 27px;
    padding-left: 8px;
}

.clock-box {
    font-size: 20px;
    width: 158px;
    line-height: 20px;
    background-color: #fafdff00;
}

.box-item-2 {
    position: absolute;
    top: 220px;
    background-color: #fafdff00;
    left: -76px;
}

.box-item-2 p {
    text-align: center;
}

.box-item-2 i {
    bottom: -12px;
    position: absolute;
    transform: rotate(-195deg);
    font-size: 24px;
    font-weight: 600;
    color: #04396c87;
    right: 49px;
}

.box-item-3 {
    position: absolute;
    right: -49px;
    top: 220px;
}

.box-item-3 p {
    width: 134px;
    text-align: center;

}

.box-item-3 i {
    position: absolute;
    transform: rotate(-15deg);
    font-size: 23px;
    color: #4b68ba7a;
    font-weight: 600;
    left: 89px;
    top: -7px;
}


.box-item-4 {
    right: 243px;
    position: absolute;
    bottom: -118px;
}

.box-item-4 p {
    text-align: center;
    width: 152px;
}

.box-item-4 i {
    position: absolute;
    transform: rotate(-280deg);
    top: 68px;
    left: 148px;
    font-size: 24px;
    font-weight: 600;
    color: #366da9a3;
}

.box-item-5 {
    right: 172px;
    top: 269px;
    line-height: 72px;
    width: 320px;
    position: absolute;
}

.box-item-5 p {
    font-size: 68px;
    width: 215px;
    margin: 0 auto;
    padding: 0 0px;
    color: #04396C;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

.box-item-5 span {
    font-size: 42px;
    font-weight: 700;
    color: #04396C;
    padding-left: 4px;
}


.faq-section-box.d-flex {
    border: 1px solid #47B7E8;
    justify-content: space-between;
    gap: 60px;
    padding: 20px 40px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 15px;
}

.faq-section-box-arrow i {
    font-size: 33px;
    color: #04396C;
    cursor: pointer;
}

.faq-section-box-info h4 {
    color: #04396C;
    font-size: 20px;
    font-weight: 500;
}

.faq-body p {
    color: #04396C;
}

.faq-body {
    display: none;
    margin-top: 10px;
}

.faq-section {
    margin-bottom: 80px;
}


.section-center-title {
    font-weight: 500;
    font-size: 55px;
    color: #04396C;
}

.mobiclocks-in-action-body {
    text-align: center;
    font-weight: 300;
    padding: 20px 74px;
    line-height: 30px;
    position: relative;
    color: #04396C;
}

.mobiclocks-in-action-btn {

}

.mobiclocks-in-action-section {
    text-align: center;
    margin-bottom: 136px;
    position: relative;
}

.mobiclocks-in-action-btn a {
    background: #60D58D;
    padding: 18px 40px;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    border-radius: 7px;
    color: #fff;
}

img.img55 {
    width: 75px;
    height: 60px;
    position: absolute;
    left: 187px;
    bottom: 8px;
}


.many-to-save-tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 8px solid rgba(0, 0, 0, 0.07);
    text-align: center;
    padding-top: 19px;
    margin-bottom: 102px;
    padding-bottom: 20px;
}

.many-to-save-section-2 {
    margin: 140px 0;
}

.many-to-save-tabs-item a {
    font-weight: 300;
    width: 100%;
    color: #04396C;
    cursor: pointer;
    display: inline-block;
}

.many-to-save-body-info h3 {
    color: #04396C;
    line-height: 46px;
    font-weight: 300;
}

.many-to-save-body-info {
    flex: 1;
}

.many-to-save-body-info p {
    margin-top: 15px;
    color: #04396C;
    width: 425px;
    font-weight: 300;
    display: inline-block;
}

.many-to-save-body-img {
    flex: 1.2;
    border-radius: 20px;
    overflow: hidden;
}

.many-to-save-body {
    display: none;
}

.many-to-save-body.active {
    display: flex;


}


.many-to-save-img img {
    width: 100%;
}

.many-to-save-tabs-item {
    position: relative;
}

.many-to-save-tabs-item.active:after {
    content: "";
    background: #60D58D;
    height: 8px;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 99;
    top: 51px;
    left: 0;
    border-radius: 6px;
}

.many-to-save-body-img img {
    width: 100%;
}


.many-to-save-title p {
    font-weight: 500;
    margin-bottom: 58px;
    color: #04396C;
}

.many-to-save-section {
    margin: 235px 0 0;
    background: url("images/many-to-save-body-img.png");
    background-repeat: no-repeat;
    background-position: 96% 122px;
    padding: 0px 0 343px;
    background-size: 77%;
}


.customer-reviews-tabs {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 8px solid rgba(0, 0, 0, 0.07);
    text-align: center;
    margin-bottom: 80px;
    padding-bottom: 40px;
}

.customer-reviews-section-2 {
    margin: 140px 0;
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: 3s all ease;
}

.customer-reviews-section-2.active {
    transform: translateY(0);
    opacity: 1;
}

.customer-reviews-tabs-item a {
    font-size: 23px;
    font-weight: 300;
    width: 100%;
    color: #04396C;
    display: inline-block;
}

.customer-reviews-body-info h3 {
    color: #04396C;
    line-height: 46px;
}

.customer-reviews-body-info {
    flex: 1;
}

.customer-reviews-body-info p {
    font-size: 23px;
    margin-top: 24px;
    color: #04396C;
}

.customer-reviews-body-img {
    flex: 1;
    border: 6px solid #47B7EB;
    border-radius: 20px;
    overflow: hidden;
}

.customer-reviews-body {
    display: none;
}

.customer-reviews-body.active {
    display: flex;
    gap: 50px;
    margin-bottom: 205px;
}


.customer-reviews-body-img img {
    width: 100%;
}

.customer-reviews-tabs-item {
    position: relative;
    flex: 1;
}

.customer-reviews-tabs-item.active:after {
    content: "";
    background: #47B7E8;
    height: 8px;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 99;
    top: 102px;
    left: 0;
    border-radius: 6px;
}


.multiple-unique-features-tabs {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 10px 0;
    text-align: center;
    border-bottom: 8px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 14px;
}

.multiple-unique-features-section-2 {
    margin: 140px 0;
}

.multiple-unique-features-tabs-item a {
    font-size: 23px;
    font-weight: 300;
    width: 100%;
    color: #04396C;
    display: inline-block;
}

.multiple-unique-features-body-info h3 {
    font-size: 42px;
    color: #04396C;
    line-height: 46px;
}

.geo_fence {
    flex: 1;
    background-size: 61%;
    background-image: url("images/multiple-Unique-Features-bg.png");
    background-position: 78% 30%;
    background-repeat: no-repeat;
}

.face-recognition-description {
    font-size: 23px;
    color: #04396C;
    width: 681px;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 6px;
}

.face_recognition {
    flex: 1;
    background-image: url("images/face_recognition_bg.png");
    background-position: right 80px;
    background-repeat: no-repeat;
}

.face_recognition p {
    margin-top: 24px;
    color: #04396C;
}

.multiple-unique-features-body-img {
    flex: 1.2;
    border-radius: 20px;
    overflow: hidden;
}

.multiple-unique-features-body {
    display: none;
}

.multiple-unique-features-body.active {
    display: flex;
    padding-bottom: 222px;
}


.multiple-unique-features-img img {
    width: 100%;
}

.multiple-unique-features-tabs-item {
    position: relative;
    flex: 1;
}

.multiple-unique-features-tabs-item.active:after {
    content: "";
    background: #60D58D;
    height: 8px;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 99;
    top: 77px;
    left: 0;
    border-radius: 6px;
}

.multiple-unique-features-body-img img {
    width: 100%;
}

.container {
}

.multiple-unique-features-title p {
    font-weight: 500;
    color: #04396C;
    margin-bottom: 45px;
}

.multiple-unique-features-section {
    margin: 160px 0;
    position: relative;
    transform: translateX(-200px);
    opacity: 0;
    transition: 3s all ease;
}

.multiple-unique-features-section.active {
    transform: translateX(0);
    opacity: 1;
}


.banner-play-img {
    position: relative;
}

.banner-play-img img {
    position: absolute;
    top: 138px;
    right: -159px;
    z-index: 99;
}

.construction-industry-section-info {
    margin-bottom: 182px;
}

.customer-reviews-section-1-title p {
    font-size: 60px;
    color: #04396c;
    font-weight: 500;
    text-align: center;
}

.customer-reviews-section-1-title {
    margin-bottom: 30px;
}

.customer-reviews-item {
    border-radius: 35px;
    padding: 30px 30px;
}

.customer-reviews-section-1-tabs {
}

.customer-reviews-item-title {
    display: flex;
}

.customer-reviews-section-1-tabs {
    display: flex;
    gap: 0px;
    justify-content: center;
}

.customer-reviews-item-title-info p {
    font-size: 22px;
    font-weight: 600;
}

.customer-reviews-item-title-info {
    width: 375px;
    font-size: 21px;
    padding: 0 35px;
    color: #04396C;
}

.customer-reviews-item-title-img img {
    width: 90px;
    height: 90px;
}


.customer-reviews-item-body {
    width: 100%;
    margin-top: 25px;
    color: #04396C;
}

.customer-reviews-btn {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.customer-reviews-btn p {
    border: 1px solid #47b7e8;
}

.customer-reviews-btn p {
    padding: 1px 20px;
    border-radius: 50px;
    background-color: #47B7E8;
}

i.fa.fa-toggle-on {
    font-size: 48px;
    color: #9ede9ca6;
    top: -72px;
    left: 250px;
    transform: rotate(-15deg);
    position: absolute;
}


.mobiclocks-in-action-body img {
    position: absolute;
    top: -18px;
    right: 96px;
    width: 39px;
}


.mobiclocks-in-action-body span {
    display: block;
}

.our-story-section {
    justify-content: space-between;
    display: flex;
    gap: 100px;
    height: 502px;
    margin-bottom: 378px;
    margin-top: 257px;
}

.our-story-img img.our-img {
    width: 78%;
    padding: 20px;
    z-index: 9999;
    margin-top: 32px;
    position: relative;
    display: inline-block;
    margin-left: 172px;
    box-sizing: border-box;
}

.our-story-body {
    flex: 1;
}

.our-story-img {
    position: relative;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 2px 3px 14px 0px #ccc;
    background: #fff;
    width: 46%;
    border-radius: 20px;
}

.our-story-body-title p {
    color: #04396C;
    line-height: 67px;
}

.our-story-body-title {
    margin-bottom: 20px;
    margin-top: 14px;
    width: 500px;
}

.our-story-body-info {
    width: 660px;
    margin-top: 19px;
}

.our-story-body-info p {
    color: #04369C;
    margin: 23px 0;
    font-weight: 300;
    line-height: 25px;
}


img.bg {
    position: absolute;
    right: -177px;
    bottom: -290px;
    z-index: -1;
    width: 500px;
}

button.owl-dot {
    padding: 2px 20px !important;
    border-radius: 50px;
    background-color: #ccc;
    margin: 0 10px;
}

.owl-carousel button.owl-dot {
    padding: 2px 20px !important;
    border-radius: 50px;
    background: #ccc !important;
}

button.owl-dot.active {
    background: #47B7E8 !important;
}

.owl-dots {
    text-align: center;
    margin-top: 30px;
}

.owl-carousel .owl-stage-outer {
    padding: 8px 5px;
}

.owl-item {
    box-shadow: 0 0 10px 0 #a9a2a278;
    border-radius: 35px;
}


.see-mobiclocks-section {
    position: relative;
    background-image: url("images/see_action_bg.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 46% 0px;
    padding: 144px 0;
    z-index: 999944444;
    position: relative;
    top: -27px;
    /* top: 0; */
}

.see-mobiclocks-section-img {
    position: relative;


}

.see-mobiclocks-section-info {
    position: relative;
    top: -15px;
}

.see-mobiclocks-section-info h3 {
    text-align: center;
    margin-bottom: 14px;
    line-height: 75px;
    font-weight: 500;
    color: #04396C;
}

p {
}

.see-mobiclocks-section-info p {
    color: #04396C;
    text-align: center;
}

.see-mobiclocks-section-btn button {
    background-color: #60D58D;
}

.see-mobiclocks-section-btn {
    text-align: center;
    background-color: #60D58D;
    width: 192px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 18px 0;
    margin-top: 22px;
}

.see-mobiclocks-section-btn a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
}


.start-saving-with-mobiclock-info h3 {
    width: 506px;
    font-weight: 500;
    line-height: 67px;
    color: #04396C;
    margin-bottom: 16px;
}

.start-saving-with-mobiclock-info p {
    font-weight: 300;
    line-height: 35px;
    color: #04396C;
    margin-bottom: 23px;
    display: inline-block;
    width: 570px;
}

.start-saving-with-mobiclock-btn {
    display: inline-block; /* margin-top: 23px; */
}

.start-saving-with-mobiclock-btn a {
    padding: 17px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color: #47B7E8;
    border-radius: 10px;
    display: inline-block;
}


.start-saving-with-mobiclock-section {
    /* display: flex; */
    justify-content: space-between;
    padding: 0 0 289px 0px;
    background-image: url("../images/1111.png");
    background-size: 63%;
    background-position: 100%  51%;
    background-repeat: no-repeat;
    margin-top: 51px;
    z-index: -1111;
}

.start-saving-with-mobiclock-section-left {
    padding-top: 60px;
}


/*.start-saving-with-mobiclock-section-right {*/
/*    background-image: url("images/header-bg-2.png");*/
/*    background-size: 70%;background-repeat: no-repeat;background-position: right;}*/

.start-saving-with-mobiclock-section-right img {
    width: 100%;
}

.box-item-title {
    padding-top: 16px;
    line-height: 32px;
}

.box-item-text p {
    line-height: 32px;
    font-weight: 400;
    font-size: 23px;
}

.footer-menu-logo {
    margin-bottom: 16px;
}

.geo-fence-description {
    color: #04396C;
    width: 425px;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 6px;
}

.geo-fence-description p {
    margin-top: 21px;
    color: #04396C;
    padding-bottom: 10px;
    line-height: 32px;
}

.flag-alert-system-description {
    font-size: 23px;
    color: #04396C;
    width: 678px;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 6px;
}

.flag-alert-system-description p {
    font-size: 23px;
    margin-top: 24px;
    color: #04396C;
}

.flag-alert-system {
    background-image: url("images/flag-alert-system-bg.png");
    background-repeat: no-repeat;
    background-position: 77% 140px;
    background-size: 30%;
}

.multiple-unique-features-body-info {
    margin-top: 92px;
}

.practical-features-section {
    background-image: url("images/header-bg-noth.png"), url('images/header-bg-practical.png');
    background-position: 93% 123px, left top;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    background-size: 55%, 58.2%;
    bottom: 355px;
    display: inline-block;
    width: 100%;
}


.practical-features-title h3 {
    font-weight: 700;
    line-height: 67px;
    color: #fff;
    margin-bottom: 17px;
}

.practical-features-description {
    color: #fff;
    line-height: 35.2px;
    margin-bottom: 30px;
    font-weight: 400;
}

.practical-features-info {
    width: 600px;
    display: inline-block;
    padding: 332px 0px 150px;
}

.practical-features-btn:hover {
    background-color: #eef5f8;
    box-shadow: 0px 14px 12px 1px #00000063;
    transition: 7ms;
}

.why-mobiclocks-title h3 {
    color: #04396C;
    font-weight: 500;
    text-align: center;
}

.why-mobiclocks-description {
    font-size: 23px;
    width: 915px;
    line-height: 30px;
    font-weight: 300;
    margin: 5px auto;
    text-align: center;
}

.box-1-hover:before {
    transform: rotate(360deg);
    transition: 3s;
}

.box-2-hover:before {
    transform: rotate(230deg);
    transition: 3s;
}

.box-3-hover:before {
    transform: rotate(45deg);
    transition: 3s;
}

.box-4-hover:before {
    transform: rotate(140deg);
    transition: 3s;
}

.practical-features-btn a {
    font-size: 18px;
    color: #47B7E8;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}

.practical-features-btn {
    padding: 18px 14px;
    background-color: #fff;
    font-size: 18px;
    border-radius: 10px;
    width: 190px;
    color: #47B7E8;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.why-mobiclocks-section {
    position: relative;
    top: 68px;
}

.clock-section:before {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: center 172px;
}

div#clock-section i {
    display: none;
}

.many-to-save-section.easy-time-tracking {
    background-image: url("images/easy-time-traking.png");
}










/*///////////////////////////////////////////////*/




.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #385088c7;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
    clip-path: circle(75%);
}
.menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    display: none;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: #000;
    transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
    color: #fff;
}
#active:checked ~ .menu-btn i:before{
    content: "\f00d";
}
.wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
.wrapper ul li{
    margin: 13px 0;
}
.wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #04396c;
    border-radius: 13px;
    background: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
    width: 100%;
    display: inline-block;
}
.wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
    transform: scaleY(1);
}
.wrapper ul li a:hover{
    color: #fff;
}
input[type="checkbox"]{
    display: none;
}



@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}



/*///////////////////////////////////////*/








@media (max-width: 1800px) {
    .container {
        width: 1200px;
    }
    ::placeholder {
        color: #909ba5;
        font-size: 18px;

    }
    .header-menu  li a{
        color: #04369C;
        font-size: 15px;
    }
    .menu ul.header-menu {
        display: flex;
        gap: 45px;
    }
    a.nav-link.btn-trial {
        background-color: #ffffffbf;
        box-shadow: 9px 8px 8px 2px #366da9;
    }

    .banner-img img {
        border-radius: 12px;
        position: relative;
        right: 103px;
    }
    .banner-play-img img {
        position: absolute;
        top: 130px;
        left: 245px;
        z-index: 99;
    }
    .banner-img-soc a img {
        width: 150px;
        height: 65px;
    }
    .multiple-unique-features-tabs-item.active:after {
        content: "";
        background: #60D58D;
        height: 8px;
        width: 100%;
        display: inline-block;
        position: absolute;
        z-index: 99;
        top: 76px;
        left: 0;
        border-radius: 6px;
    }
    .face_recognition p {
        font-size: 19px;
        margin-top: 24px;
        color: #04396C;
    }
    .face_recognition {
        flex: 1;
        background-image: url(images/face_recognition_bg.png);
        background-position: right 35px;
        background-repeat: no-repeat;
        background-size: 45%;
    }
    .many-to-save-section {
        margin: 160px 0 0;
        background: url(images/many-to-save-body-img.png);
        background-repeat: no-repeat;
        background-position: 84% 127px;
        padding: 0 0 238px;
        background-size: 70%;
    }
    .multiple-unique-features-tabs-item a {
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        color: #04396C;
        display: inline-block;
    }
    .multiple-unique-features-title p {
        font-size: 68px;
        font-weight: 500;
        color: #04396C;
        margin-bottom: 21px;
    }
    .customer-reviews-tabs {
        display: flex;
        gap: 25px;
        justify-content: center;
        padding: 10px 0;
        border-bottom: 8px solid rgba(0, 0, 0, 0.07);
        text-align: center;
        margin-bottom: 80px;
        padding-bottom: 40px;
    }
    .customer-reviews-tabs-item a {
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        color: #04396C;
        display: inline-block;
    }
    .customer-reviews-tabs-item.active:after {
        content: "";
        background: #47B7E8;
        height: 8px;
        width: 100%;
        display: inline-block;
        position: absolute;
        z-index: 99;
        top: 96px;
        left: 0;
        border-radius: 6px;
    }
    .footer-menu-section {
        display: flex;
        gap: 50px;
        padding-bottom: 152px;
    }
    .footer-info-text a {
        display: block;
        color: white;
        font-weight: 400;
        padding-top: 8px;
        text-decoration: none;
        font-size: 20px;
        line-height: 28px;
    }

}



@media (max-width: 1600px) {
    .container {
        width: 1333px;
    }


    /*h2{*/
    /*    font-size: 20px !important;*/
    /*}*/
    /*h3{*/
    /*    font-size: 15px !important;*/
    /*}*/
    /*p{*/
    /*    font-size: 10px !important;*/
    /*}*/
    .banner-info h1 {
        font-size: 45px;
        width: 635px;
    }
    .banner-info h3 {
        font-size: 25px;
    }
    .banner-img img {
        height: 410px;
        width: 470px;
    }
    .banner-play-img img {
        position: absolute;
        top: 130px;
        left: -35px;
        z-index: 99;
    }
    .banner-img-soc a img {
        width: 150px;
        height: 65px;
        box-shadow: -5px 3px 9px 1px #fff;
    }
    .construction-industry-title h2 {
        text-align: center;
        font-weight: 500;
        color: #04396C;
    }
    .construction-industry-text {
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        line-height: 30px;
        width: 815px;
        margin: 0 auto;
        color: #04396C;
    }
    .customer-reviews-tabs-item.active:after {
        content: "";
        top: 96px;
    }
    .multiple-unique-features-tabs {
        display: flex;
        gap: 33px;
        justify-content: center;
        padding: 10px 0;
        border-bottom: 8px solid rgba(0, 0, 0, 0.07);
        text-align: center;
        padding-bottom: 20px;
    }
    .multiple-unique-features-tabs-item.active:after {
        content: "";
        background: #60D58D;
        height: 8px;
        width: 100%;
        display: inline-block;
        position: absolute;
        z-index: 99;
        top: 76px;
        left: 0;
        border-radius: 6px;
    }
    .many-to-save-tabs-item.active:after {
        content: "";

        top: 48px;

    }
    .our-story-body-info {
        width: 565px;
    }
    .footer-menu-section {

        margin-left: 50px;
    }
    .copy-right .container {

        justify-content: space-evenly;

    }
    .fs-60 {
        font-size: 50px !important;
    }
    .fs-42{
        font-size: 38px !important;
    }
    .fs-32{
        font-size: 23px !important;
    }
    .fs-23{
        font-size: 20px !important;
    }


    .our-story-img {
        position: relative;
        width: 54%;
        border-radius: 20px;
    }

    .our-story-section {

        margin-top: 140px;
    }





}





@media (max-width: 1380px) {
    .container {
        width: 1100px;
    }
    header {
        background-image: url(images/header-bg.png);
        background-size: 1340px;
        background-repeat: no-repeat;
    }
    .menu ul.header-menu {
        display: flex;
        gap: 17px;
    }
    .banner-play-img img {
        position: absolute;
        top: 130px;
        left: -35px;
        z-index: 99;
    }
    .banner-img img {
        height: 410px;
        width: 470px;
    }
    .banner-img img {
        border-radius: 12px;
        position: relative;
        right: -27px;
    }

}



@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .our-story-body-info {
        width: 100%;
    }






    .menu-btn {
        position: absolute;
        z-index: 2;
        right: 20px;
        /* left: 20px; */
        top: 20px;
        position: fixed;
        height: 50px;
        display: block;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
        /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
        background: #000;
        transition: all 0.3s ease-in-out;
    }
    .wrapper {
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        height: 100%;
        width: 100%;
        /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
        /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
        /* clip-path: circle(25px at calc(0% + 45px) 45px); */
        background: #04396c96;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
    }

    .menu ul.header-menu {
        display: none;
        gap: 17px;
    }




}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}


