*{
    margin: 0;
    padding: 0;
}
body{
    /* width: 1920px; */
    background-color: #fafdff;
    margin: 0 auto;
    font-family: "Hind Madurai";
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}
.fs-60{
    font-size: 68px !important;
}
.fs-42{
    font-size: 42px !important;
    font-weight: 400;
}
.fs-32{
    font-size: 32px !important;

}
.fs-23{
    font-size: 23px !important;
}



.container {
    display: block;
    width: 1360px;
    margin: 0 auto;
}
header {
    background-image: url("images/header-bg.png");
    background-size: 67%;
    background-repeat: no-repeat;
    height: 1078px;
    padding-top: 45px;
}
.navbar {
    /* display: flex; */
    /* gap: 99px; */
    /* justify-content: center; */
    /* margin: 28px auto; */
}
.menu {
    display: flex;
    align-items: center;
}
.header-btn button {
    color: #fff;
    background-color: #47b7e8;
    border: none;
    margin-left: 70px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
    padding: 18px 14px;
    border-radius: 7px;
}
.menu ul.header-menu {
    display: flex;
    gap: 21px;
    align-items: center;
}
.menu ul li {
    list-style: none;
    position: relative;
}
.nav-link {
    font-size: 17px;
    color: #fff;
    line-height: 23px;
}
.menu ul li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}
.menu li.nav-item:hover .sub-menu {
    display: block;
}
li.nav-item {
    padding-left: 20px;
}
.contact {
    color: #000;
}
.sub-menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgba(236, 227, 227, 0.62);
    width: 100%;
    z-index: 1;
}

.sub-menu a:hover {
    background-color: #eee;
    color: black;
}
.banner-box{
    display: flex;
    gap: 70px;
    padding-top: 153px;
}
.banner-info {
    color: #fff;
    box-sizing: border-box;
    padding-top: 45px;
}
.banner-img {
    /* width: 642px; */
    position: relative;
}
.banner-img img{
    /* width: 100%; */
}
.banner-info h1 {
    font-size: 68px;
    width: 750px;
    line-height: 67px;
}
.banner-info p {
    font-size: 32px;
    width: 540px;
    line-height: 35px;
    margin-top: 18px;
}
.banner-info button {
    background-color: #fff;
    border: none;
    font-size: 18px;
    padding: 17px 18px;
    width: 218px;
    margin-top: 28px;
    font-weight: 700;
    border-radius: 8px;
    color: #47b7e8;
}

.banner-img .play-logo {
    width: 150px;
    position: absolute;
    top: 125px;
    left: -75px;
}
.nav {
    display: flex;
    gap: 90px;
    justify-content: space-between;
    align-items: center;
}

.construction-industry {
    margin: 0 auto;
}
.construction-industry-section-info h2 {
    font-size: 68px;
    text-align: center;
    font-weight: 500;
    color: #04396C;
    margin-bottom: 4px;
}
.construction-industry-section-info p {

    font-size: 23px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    width: 900px;
    margin: 0 auto;
    color: #04396C;
}

.clock-section {
    /* border: 2px dashed #04396c7a; */
    width: 635px;
    height: 606px;
    margin: 80px auto;
    position: relative;
    background-image: url("images/clock-borders.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.box-item-1 {
    position: absolute;
    right: 254px;
    top: -81px;
}
.box-item-1 p {
    width: 175px;
    line-height: 4px;
}
.box-item-1 i {
    position: absolute;
    transform: rotate(-97deg);
    top: 73px;
    font-weight: 600;
    font-size: 24px;
    color: #04369c82;
}
.clock-box img {
    width: 100%;
    height: 100%;
}
.clock-box {
    background-color: white;
    font-size: 20px;
}
.clock-img {
    width: 215px;
    height: 250px;
    top: 186px;
    position: absolute;
    left: 210px;
}
.clock-img img{
    width: 100%;
}
.clock-info {
    position: absolute;
    top: 48%;
    left: 25%;
}
.clock-info p {
    font-size: 68px;
    width: 215px;
    margin: 0 auto;
    padding: 0 0px;
    color: #04396C;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}
.clock-info span {
    font-size: 42px;
    font-weight: 700;
    color: #04396C;
    padding-left: 4px;
}
.clock-box {
    font-size: 20px;
    width: 152px;
    line-height: 20px;
    background-color: #fafdff;
}
.box-item-2 {
    position: absolute;
    top: 220px;
    background-color: #fafdff;
    left: -63px;
}
.box-item-2 p {
    text-align: center;
}
.box-item-2 i {
    bottom: -12px;
    position: absolute;
    transform: rotate(-195deg);
    font-size: 24px;
    font-weight: 600;
    color: #04396c87;
    right: 63px;
}
.box-item-3 {
    position: absolute;
    right: -63px;
    top: 220px;
}
.box-item-3 p {
    width: 134px;
    text-align: center;

}
.box-item-3 i {
    position: absolute;
    transform: rotate(-15deg);
    font-size: 23px;
    color: #4b68ba7a;
    font-weight: 600;
    left: 76px;
    top: -7px;
}
.box-item-4 {
    right: 250px;
    position: absolute;
    bottom: -118px;
}
.box-item-4 p {
    text-align: center;
    width: 152px;
}
.box-item-4 i {
    position: absolute;
    transform: rotate(-280deg);
    top: 65px;
    left: 148px;
    font-size: 24px;
    font-weight: 600;
    color: #366da9a3;
}
.box-item-5 {
    right: 160px;
    top: 263px;
    line-height: 65px;
    width: 320px;
    position: absolute;
}










.many-to-save{
    margin-top: 200px;
}

.many-to-save-title h3 {
    font-size: 68px;
    font-weight: 500;
    color: #04396C;
    margin-bottom: 78px;
}


.many-to-save-body{
    display: flex;
    gap: 30px;
}
.many-to-save-body {
    display: none;
}
.many-to-save-body-info{
    width: 425px;
    max-width: 425px;
    min-width: 425px;
}
.many-to-save-body-img{
    width: 68%;
}
.many-to-save-body-img img{
    max-width: 1170px;
}
.learn-more{
    display: none;
}




.many-to-save-tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 8px solid rgba(0, 0, 0, 0.07);
    text-align: center;
    padding-top: 19px;
    margin-bottom: 102px;
    padding-bottom: 20px;
}

.many-to-save-tabs-item a {
    width: 100%;
    color: #04396C;
    font-size: 23px;
    cursor: pointer;
    font-weight: 300;
    display: inline-block;
}



.many-to-save-body.active {
    display: flex;
}
.many-to-save-img img {
    width: 100%;
}

.many-to-save-tabs-item.active:after {
    content: "";
    background: #60D58D;
    height: 8px;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 99;
    top: 50px;
    left: 0;
    border-radius: 6px;
}
.many-to-save-tabs-item {
    position: relative;
}
.many-to-save-body-info p {
    font-size: 23px;
    font-weight: 300;
    line-height: 32px;
    color: #04396C;
}
.many-to-save-body-info h3{
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 30px;
}










.see-mobiclocks{
    position: relative;
    background-image: url("images/see_action_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 173px 0 140px;
}
.see-mobiclocks-section-img {
    position: relative;


}
.see-mobiclocks {
    text-align: center;
}
.see-mobiclocks h3 {
    line-height: 75px;
    font-weight: 500;
    color: #04396C;
}
p {
}
.see-mobiclocks p {
    color: #04396C;
    margin: 14px;
}
.see-mobiclocks-section-btn button {
    background-color: #60D58D;
}
.see-mobiclocks button {

    background-color: #60D58D;

    width: 218px;

    border-radius: 12px;

    margin: 0 auto;

    padding: 18px 14px;

    text-decoration: none;

    font-weight: 700;

    color: #fff;

    font-size: 18px;

    border: none;
}











.start-saving-with-mobiclock-info h3 {
    width: 506px;
    font-weight: 500;
    line-height: 67px;
    color: #04396C;
    margin-bottom: 16px;
}
.start-saving-with-mobiclock-info p {
    font-weight: 300;
    line-height: 35px;
    color: #04396C;
    margin-bottom: 23px;
    display: inline-block;
    width: 570px;
}
.start-saving-with-mobiclock-info button {
    padding: 17px 0;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    width: 223px;
    text-align: center;
    background-color: #47B7E8;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #47B7E8;
    transition: all 0.15s ease-in-out;
}

.section.start-saving-with-mobiclock {}

.start-saving-with-mobiclock-section{
    display: flex;
    margin-top: 120px;
    padding-bottom: 80px;
}
.start-saving-with-mobiclock-section-left {
    padding-top: 60px;
    width: 570px;
}
.start-saving-with-mobiclock-section-mobile{
    display: none;
}
.start-saving-with-mobiclock-section-right img {
}
.start-saving-with-mobiclock-info {
    display: grid;
}











.our-story {
    justify-content: space-between;
    display: flex;
    gap: 100px;
    height: 502px;
    margin-bottom: 301px;
    margin-top: 115px;
    background-repeat: no-repeat;

}

.our-story-body {
    flex: 1;
}

.our-story-body-title h3 {
    color: #04396C;
    line-height: 67px;
    font-weight: 500;
}
.our-story-body-title {
    margin-bottom: 20px;
    margin-top: 14px;
    width: 500px;
}
.our-story-body-info {
    width: 660px;
    margin-top: 19px;
}
.our-story-body-info p {
    color: #04369C;
    margin: 23px 0;
    font-weight: 300;
    line-height: 25px;
}
.our-story-img {
    box-shadow: 7px 4px 14px 0 #0000004a;
    border-radius: 20px;
}
.our-story{
    background-image: url("../images/Group 430.png");
    background-repeat: no-repeat;
    background-size: 24%;
    padding-bottom: 250px;
    background-position: 40% 100%;
}









.multiple-unique-features-tabs {
    position: relative;
    display: flex;
    gap: 53px;
    justify-content: space-between;
    padding: 10px 0;
    text-align: center;
    border-bottom: 8px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 14px;
}
.multiple-unique-features-section-2 {
    margin: 140px 0;
}
.multiple-unique-features-tabs-item a {
    font-size: 23px;
    font-weight: 300;
    width: 100%;
    color: #04396C;
    display: inline-block;
}
.multiple-unique-features-body-info h3 {
    font-size: 42px;
    color: #04396C;
    line-height: 46px;
}

.multiple-unique-features-body-img {
    border-radius: 20px;
    display: flex;
    width: 60%;
    align-items: center;
}
.multiple-unique-features-body {
    display: none;
}
.multiple-unique-features-body.active {
    display: flex;
    padding-bottom: 222px;
}
.multiple-unique-features-img img {
    width: 100%;
}
.multiple-unique-features-tabs-item {
    position: relative;
    flex: 1;
}
.multiple-unique-features-tabs-item.active:after {
    content: "";
    background: #60D58D;
    height: 8px;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 99;
    top: 77px;
    left: 0;
    border-radius: 6px;
}
.multiple-unique-features-body-img img {
    width: 100%;
}
.container {
}
.multiple-unique-features-title p {
    font-weight: 500;
    color: #04396C;
    margin-bottom: 45px;
}
.multiple-unique-features-section {
    margin: 160px 0;
    position: relative;
    transform: translateX(-200px);
    opacity: 0;
    transition: 3s all ease;
}
.multiple-unique-features-section.active {
    transform: translateX(0);
    opacity: 1;
}

.multiple-unique-features-body-info {
    margin-top: 92px;
    width: 40%;
}









.customer-reviews-section-1-title p {
    font-size: 60px;
    color: #04396c;
    font-weight: 500;
    text-align: center;
}
.customer-reviews-section-1-title {
    margin-bottom: 30px;
    position: relative;
    top: -25px;
}
.customer-reviews-item {
    border-radius: 35px;
    padding: 35px;
}
.customer-reviews-section-1-tabs {
}
.customer-reviews-item-title {
    display: flex;
    gap: 36px;
    align-items: center;
    padding-top: 3px;
    padding-left: 11px;
}
.customer-reviews-section-1-tabs {
    display: flex;
    gap: 0px;
    justify-content: center;
}
.customer-reviews-item-title-info p {
    font-size: 22px;
    font-weight: 600;
}
.customer-reviews-item-title-info {
    font-size: 21px;
    color: #04396C;
    width: 65%;
    padding-top: 17px;
}
.customer-reviews-item-title-img img {
    width: 94px;
    height: 94px;
}
.customer-reviews-item-body {
    width: 100%;
    margin-top: 25px;
    color: #04396C;
}
.customer-reviews-btn {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.customer-reviews-btn p {
    border: 1px solid #47b7e8;
}
.customer-reviews-btn p {
    padding: 1px 20px;
    border-radius: 50px;
    background-color: #47B7E8;
}
.owl-carousel button.owl-dot {
    padding: 3px 34px !important;
    border-radius: 50px;
    background: #ccc !important;
}










footer {
    background-color: #47B7E8;
    padding-top: 156px;
}
.footer-menu-logo {
    margin-bottom: -2px;
    margin-left: 9px;
}
.footer-info-text a {
    display: block;
    color: white;
    font-weight: 400;
    padding-top: 8px;
    text-decoration: none;
    line-height: 25px;
}
.footer-info-text a i {
    padding-right: 9px;
    font-size: 18px;
}
.footer-menu-section {
    display: flex;
    gap: 86px;
    padding-bottom: 80px;
}
.footer-menu-logo {
    margin-bottom: -2px;
    margin-left: 9px;
}
.box-item-title p {
    margin-bottom: 30px;
    color: white;
    font-size: 17px;
    font-weight: 700;
}
.box-item-text p a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.copy-right {
    border-top: 1px solid #ffffff;
    padding: 3px 0;
    display: flex;
}
.copy-right .container {
    gap: 335px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: white;
    font-size: 18px;
}
.copy-right-social a {
    color: white;
    font-size: 37px;
    padding-left: 8px;
}
.copy-right-social a {
    color: white;
    font-size: 37px;
    padding-left: 8px;
}
.face-recognition-description p{
    padding: 20px 0;
}
.geo-fence-description p {
    padding: 20px 0;
}

section.start-saving-with-mobiclock {
    background-image: url('images/start-saving-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 24px 0 253px;
}