* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Hind Madurai";
}


.d-flex {
    display: flex;
}
.w-260 {
    width: 260px;
}
.w-210 {
    /* width: 210px; */
}
.w-220 {
    /* width: 220px; */
}
.w-218 {
    /* width: 220px; */
}
.w-185 {
    /* width: 185px; */
}
.w-153 {
    /* width: 153px; */
}
.w-133 {
    /* width: 133px; */
}

::placeholder{
    color: #909ba5;
    font-size: 23px;

}
header {
    background-image: url("images/header-bg.png");
    background-size: 69%;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.container{
    width: 1360px;
    margin: 0 auto;
}
.menu ul.header-menu{
    display: flex;
    gap: 58px;
}
.menu ul li{
    list-style: none;
    position: relative;
}
.nav-link{
    font-size: 17px;
    color: #fff;
    line-height: 23px;
}
.menu ul li a{
    text-decoration: none;
}

.menu li.nav-item:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}


.sub-menu a:hover {
    background-color: #eee;
    color: black;
}
.contact{
    color: #04396C;
}

.btn-trial {
    background-color: #47B7E8;
    color: #fff;
    padding: 17px 13px;
    border-radius: 10px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 124px;
}

.banner-info h1{
    width: 750px;
    font-size: 68px;
    color: white;
    line-height: 68px;
    font-weight: 700;
}
.banner-info h3{
    margin-top: 18px;
    width: 540px;
    font-size: 32px;
    color: white;
    line-height: 35px;
    font-weight: 400;
}


.banner-img img{
    height: 414px;
    border-radius: 12px;
    position: relative;
    right: -72px;
}

.banner-img-soc{
    display: flex;
    gap: 29px;
    margin-top: 82px;
    margin-bottom: 320px;
    justify-content: center;
}

.banner-img-soc img{
    width: 195px;
    height: 67px;
}
.banner-info a{
    margin-top: 28px;
    padding: 18px 0;
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 12px;
    width: 218px;
    display: inline-block;
    text-align: center;
}
.banner-info-btn{
    color: #47B7E8;
    text-decoration: none;
    font-weight: 700;

}

.shadow-img{
    box-shadow: 5px 10px 34px 2px #4b637b85;
}




.construction-industry-section{
    margin: 0 auto;
}

.construction-industry-title h2{
    font-size: 68px;
    text-align: center;
    font-weight: 500;
    color: #04396C;
}
.construction-industry-text{

    font-size: 23px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    width: 900px;
    margin: 0 auto;
    color: #04396C;
}




.section-left-title h3{
    font-size: 60px;
    color: #04396C;
    font-weight: 500;
    margin-bottom: 45px;
}






.clock-section{
    border: 1px dashed #04396c7a;
    border-radius: 50%;
    width: 550px;
    height: 550px;
    margin: 80px auto;
    position: relative;
    /* background-image: url(images/logo.png); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}
.box-item-1{
    position: absolute;
    right: 195px;
    top: -54px;
}
.box-item-1 p{
    width: 175px ;
}
.box-item-1 i{
    position: absolute;
    transform: rotate(-97deg);
    top: 46px;
    font-size: 20px;
    color: #ccc;
}
.clock-box img{
    width: 124px;
    height:124px ;
}

.clock-box {
    background-color: white;
    font-size: 20px;
}




.forms{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.forms-box input{
    display: inline-block;
    width: 100%;
    padding: 15px;
    border: 1px solid #47B7E866;
    border-radius: 20px;
    font-size: 20px;
    color: #adada7;
    box-sizing: border-box;
}
.forms-message-box textarea{
    margin-top: 44px;
    margin-bottom: 28px;
    display: inline-block;
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 1px solid #47B7E866;
    border-radius: 20px;
    font-size: 20px;
    color: #adada7;
    box-sizing: border-box;
}


.forms-message-btn{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 128px;
}

.forms-message-btn button {background-color: #47B7E8;width: 160px;padding: 14px 14px;font-size: 18px;border-radius: 10px;border: none;color: #fff;}



footer{
    background-color: #47B7E8;
    padding-top: 156px;
}
.footer-info-text a{
    display: block;
    color: white;
    font-weight: 400;
    padding-top: 8px;
    text-decoration: none;
    font-size: 23px;
    line-height: 28px;
}
.footer-info-text a i{
    padding-right: 9px;
}



.footer-menu-section{
    display: flex;
    gap: 70px;
    padding-bottom: 152px;
}

.box-item-title p{
    margin-bottom: 30px;
    color: white;
    font-size: 17px;
    font-weight: 700;
}
.box-item-text p a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.copy-right{
    border-top: 1px solid #ffffff;
    padding: 13px 0;
}

.copy-right .container{
    gap: 335px;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}
.copy-right-social a{
    color: white;
    font-size: 27px;
    padding-left: 8px;
}
.clock-box{
    font-size: 17px;
    width: 130px;
}
.box-item-2 {
    position: absolute;
    top: 200px;
    left: -50px;
}
.box-item-2 p{
    width: 137px;
    text-align: center;

}

.box-item-2 i{
    bottom: -10px;
    position: absolute;
    transform: rotate(-195deg);
    font-size: 20px;
    color: #7d8bdec9;
    right: 53px;
}

.box-item-3 {
    position: absolute;
    right: -65px;
    top: 200px;
}
.box-item-3 p{
    width: 134px;
    text-align: center;

}
.box-item-3 i{
    position: absolute;
    transform: rotate(-15deg);
    font-size: 20px;
    color: #4b68ba7a;
    left: 51px;
    top: -5px;
}



.box-item-4 {right: 195px;position: absolute;bottom: -104px;}
.box-item-4 p{
    text-align: center;
}
.box-item-4 i{
    position: absolute;
    transform: rotate(-280deg);
    top: 52px;
    left: 119px;
    font-size: 20px;
    color: #366da9a3;
}

.box-item-5 {right: 144px;top: 277px;line-height: 65px;width: 240px;position: absolute;}

.box-item-5 p{
    font-size: 68px;
    width: 215px;
    padding: 0 0px;
    color: #04396C;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}
.box-item-5 span{
    font-size: 30px;
    font-weight: 500;
    color: #04396C;
}


.faq-section-box.d-flex {
    border: 1px solid #47B7E8;
    justify-content: space-between;
    gap: 60px;
    padding: 20px 40px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 15px;
}

.faq-section-box-arrow i {
    font-size: 33px;
    color: #04396C;
    cursor: pointer;
}

.faq-section-box-info h4 {
    color: #04396C;
    font-size: 20px;
    font-weight: 500;
}

.faq-body p {
    font-size: 17px;
    color: #04396C;
}

.faq-body {
    display: none;
    margin-top: 10px;
}

.faq-section {
    margin-bottom: 80px;
}



.section-center-title {
    font-weight: 500;
    font-size: 55px;
    color: #04396C;
}

.mobiclocks-in-action-body {
    text-align: center;
    font-weight: 300;
    font-size: 23px;
    padding: 20px 74px;
    line-height: 30px;
    position: relative;
    color: #04396C;
}

.mobiclocks-in-action-btn {

}

.mobiclocks-in-action-section {
    text-align: center;
    margin-bottom: 136px;
    position: relative;
}

.mobiclocks-in-action-btn a {
    background: #60D58D;
    padding: 18px 40px;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    border-radius: 7px;
    color: #fff;
}
img.img55 {
    width: 75px;
    height: 60px;
    position: absolute;
    left: 187px;
    bottom: 8px;
}
















.many-to-save-tabs {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    border-bottom: 8px solid rgba(0, 0, 0, 0.07);
    text-align: center;
    margin-bottom: 93px;
    padding-bottom: 20px;
}

.many-to-save-section-2 {
    margin: 140px 0;
}

.many-to-save-tabs-item a {
    font-size: 23px;
    font-weight: 300;
    width: 100%;
    color: #04396C;
    cursor: pointer;
    display: inline-block;
}

.many-to-save-body-info h3 {
    font-size: 42px;
    color: #04396C;
    line-height: 46px;
    font-weight: 300;
}

.many-to-save-body-info {
    flex: 1;
}

.many-to-save-body-info p {
    font-size: 23px;
    margin-top: 31px;
    color: #04396C;
    width: 425px;
    display: inline-block;
}

.many-to-save-body-img {flex: 1.2;border-radius: 20px;overflow: hidden;}
.many-to-save-body {
    display: none;
}
.many-to-save-body.active {
    display: flex;
}


.many-to-save-img img {
    width: 100%;
}

.many-to-save-tabs-item {
    position: relative;
}

.many-to-save-tabs-item.active:after {
    content: "";
    background: #60D58D;
    height: 8px;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 99;
    top: 51px;
    left: 0;
    border-radius: 6px;
}

.many-to-save-body-img img {
    width: 100%;
}



.many-to-save-title p {
    font-size: 68px;
    font-weight: 500;
    margin-bottom: 58px;
    color: #04396C;
}

.many-to-save-section {
    margin: 160px 0 0;
    background: url("images/many-to-save-body-img.png");
    background-repeat: no-repeat;
    background-position: 125% 87px;
    padding: 0 0 400px;
    background-size: 85%;
}













.customer-reviews-tabs {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 8px solid rgba(0, 0, 0, 0.07);
    text-align: center;
    margin-bottom: 80px;
    padding-bottom: 40px;
}

.customer-reviews-section-2 {
    margin: 140px 0;
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: 3s all ease;
}
.customer-reviews-section-2.active {
    transform: translateY(0);
    opacity: 1;
}

.customer-reviews-tabs-item a {
    font-size: 23px;
    font-weight: 300;
    width: 100%;
    color: #04396C;
    display: inline-block;
}

.customer-reviews-body-info h3 {
    font-size: 40px;
    color: #04396C;
    line-height: 46px;
}

.customer-reviews-body-info {
    flex: 1;
}

.customer-reviews-body-info p {
    font-size: 23px;
    margin-top: 24px;
    color: #04396C;
}

.customer-reviews-body-img {flex: 1;border: 6px solid #47B7EB;border-radius: 20px;overflow: hidden;}
.customer-reviews-body {
    display: none;
}
.customer-reviews-body.active {
    display: flex;
    gap: 50px;
    margin-bottom: 205px;
}


.customer-reviews-body-img img {
    width: 100%;
}

.customer-reviews-tabs-item {
    position: relative;
    flex: 1;
}

.customer-reviews-tabs-item.active:after {
    content: "";
    background: #47B7E8;
    height: 8px;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 99;
    top: 102px;
    left: 0;
    border-radius: 6px;
}


























.multiple-unique-features-tabs {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 8px solid rgba(0, 0, 0, 0.07);
    text-align: center;
    padding-bottom: 20px;
}

.multiple-unique-features-section-2 {
    margin: 140px 0;
}

.multiple-unique-features-tabs-item a {
    font-size: 23px;
    font-weight: 300;
    width: 100%;
    color: #04396C;
    display: inline-block;
}

.multiple-unique-features-body-info h3 {
    font-size: 42px;
    color: #04396C;
    line-height: 46px;
}

.geo_fence {
    flex: 1;
    background-image: url("images/multiple-Unique-Features-bg.png");
    background-position: top right;
    background-repeat: no-repeat;
}
.face-recognition-description {
    font-size: 23px;
    color: #04396C;
    width: 681px;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 6px;
}

.face_recognition {
    flex: 1;
    background-image: url("images/face_recognition_bg.png");
    background-position: right 80px;
    background-repeat: no-repeat;
}

.face_recognition p {
    font-size: 23px;
    margin-top: 24px;
    color: #04396C;
}

.multiple-unique-features-body-img {flex: 1.2;border-radius: 20px;overflow: hidden;}
.multiple-unique-features-body {
    display: none;
}
.multiple-unique-features-body.active {
    display: flex;
    padding-bottom: 222px;
}


.multiple-unique-features-img img {
    width: 100%;
}

.multiple-unique-features-tabs-item {
    position: relative;
    flex: 1;
}

.multiple-unique-features-tabs-item.active:after {
    content: "";
    background: #60D58D;
    height: 8px;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 99;
    top: 83px;
    left: 0;
    border-radius: 6px;
}

.multiple-unique-features-body-img img {
    width: 100%;
}

.container {}

.multiple-unique-features-title p {
    font-size: 68px;
    font-weight: 500;
    color: #04396C;

}

.multiple-unique-features-section {
    margin: 160px 0;
    position: relative;
    transform: translateX(-200px);
    opacity: 0;
    transition: 3s all ease;
}
.multiple-unique-features-section.active {
    transform: translateX(0);
    opacity: 1;
}



.banner-play-img {
    position: relative;
}

.banner-play-img img {
    position: absolute;
    top: 130px;
    right: -160px;
    z-index: 99;
}

.construction-industry-section-info {
    margin-bottom: 120px;
}

.customer-reviews-section-1-title p {
    font-size: 60px;
    color: #04396c;
    font-weight: 500;
    text-align: center;
}

.customer-reviews-section-1-title {
    margin-bottom: 30px;
}

.customer-reviews-item {border-radius: 35px;padding: 30px 30px;}

.customer-reviews-section-1-tabs {
}

.customer-reviews-item-title {
    display: flex;
}

.customer-reviews-section-1-tabs {
    display: flex;
    gap: 0px;
    justify-content: center;
}

.customer-reviews-item-title-info p {
    font-size: 22px;
    font-weight: 600;
}

.customer-reviews-item-title-info {
    width: 375px;
    font-size: 21px;
    padding: 0 35px;
    color: #04396C;
}

.customer-reviews-item-title-img img {
    width: 90px;
    height: 90px;
}


.customer-reviews-item-body {
    width: 100%;
    margin-top: 25px;
    color: #04396C;
}

.customer-reviews-btn {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.customer-reviews-btn p {
    border: 1px solid #47b7e8;
}

.customer-reviews-btn p {
    padding: 1px 20px;
    border-radius: 50px;
    background-color: #47B7E8;
}

i.fa.fa-toggle-on {
    font-size: 48px;
    color: #9ede9ca6;
    top: -72px;
    left: 250px;
    transform: rotate(-15deg);
    position: absolute;
}



.mobiclocks-in-action-body img {
    position: absolute;
    top: -18px;
    right: 96px;
    width: 39px;
}


.mobiclocks-in-action-body span {
    display: block;
}

.our-story-section {
    justify-content: space-between;
    display: flex;
    gap: 96px;
    margin-bottom: 400px;
}

.our-story-img img.our-img {
    width: 655px;
    padding: 20px;
    z-index: 9999;
    position: relative;
    display: inline-block;
    float: right;
    box-sizing: border-box;
}

.our-story-body {
    flex: 1;
}

.our-story-img {
    position: relative;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 2px 3px 14px 0px #ccc;
    background: #fff;
    flex: 1;
}

.our-story-body-title p {
    color: #04396C;
    font-size: 60px;
    line-height: 67px;
}

.our-story-body-title {
    margin-bottom: 20px;
}
.our-story-body-info {
    width: 660px;
}
.our-story-body-info p {
    color: #04369C;
    margin: 20px 0;
    font-size: 23px;
    font-weight: 300;
    line-height: 25px;
}




img.bg {
    position: absolute;
    right: -210px;
    bottom: -340px;
    z-index: -1;
    width: 510px;
}
button.owl-dot {
    padding: 2px 20px !important;
    border-radius: 50px;
    background-color: #ccc;
    margin: 0 10px;
}
.owl-carousel button.owl-dot {
    padding: 2px 20px !important;
    border-radius: 50px;
    background: #ccc !important;
}

button.owl-dot.active {
    background: #47B7E8 !important;
}

.owl-dots {
    text-align: center;
    margin-top: 30px;
}
.owl-carousel .owl-stage-outer {
    padding: 8px 5px;
}
.owl-item {
    box-shadow: 0 0 10px 0 #a9a2a278;
    border-radius: 35px;
}









.see-mobiclocks-section {
    position: relative;
    background-image: url("images/see_action_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding: 144px 0;
}
.see-mobiclocks-section-img{
    position: relative;



}
.see-mobiclocks-section-info{position: relative;top: 50px;}
.see-mobiclocks-section-info h3 {
    font-size: 68px;
    text-align: center;
    margin-bottom: 14px;
    line-height: 75px;
    font-weight: 500;
    color: #04396C;
}

p {}

.see-mobiclocks-section-info p {
    font-size: 23px;
    color: #04396C;
    text-align: center;
}

.see-mobiclocks-section-btn button {
    background-color: #60D58D;
}

.see-mobiclocks-section-btn {text-align: center;background-color: #60D58D;width: 216px;border-radius: 12px;margin: 0 auto;padding: 20px;margin-top: 40px;}

.see-mobiclocks-section-btn a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
}


.start-saving-with-mobiclock-info h3{
    width: 506px;
    font-size:68px;
    font-weight: 500;
    line-height: 67px;
    color: #04396C;
    margin-bottom: 31px;
}

.start-saving-with-mobiclock-info p{
    font-size:32px;
    font-weight: 300;
    line-height: 35px;
    color: #04396C;
    margin-bottom: 23px;
    display: inline-block;
    width: 570px;
}

.start-saving-with-mobiclock-btn{display: inline-block;/* margin-top: 23px; */}
.start-saving-with-mobiclock-btn a{
    padding: 17px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color: #47B7E8;
    border-radius: 10px;
    display: inline-block;
}




.start-saving-with-mobiclock-section {
    /* display: flex; */
    justify-content: space-between;
    padding: 0 0 289px 0px;
    background-image: url("../images/1111.png");
    background-size: 51%;
    background-position: top right;
    background-repeat: no-repeat;
    margin-top: 60px;
}
.start-saving-with-mobiclock-section-left {
    padding-top: 60px;
}


/*.start-saving-with-mobiclock-section-right {*/
/*    background-image: url("images/header-bg-2.png");*/
/*    background-size: 70%;background-repeat: no-repeat;background-position: right;}*/

.start-saving-with-mobiclock-section-right img{
    width: 100%;
}

.box-item-title {
    padding-top: 16px;
    line-height: 32px;
}

.box-item-text p {
    line-height: 32px;
    font-weight: 400;
    font-size: 23px;
}
.footer-menu-logo {
    margin-bottom: 16px;
}

.geo-fence-description {
    font-size: 23px;
    color: #04396C;
    width: 425px;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 6px;
}

.geo-fence-description p {
    font-size: 23px;
    margin-top: 24px;
    color: #04396C;
}

.flag-alert-system-description {
    font-size: 23px;
    color: #04396C;
    width: 678px;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 6px;
}

.flag-alert-system-description p {
    font-size: 23px;
    margin-top: 24px;
    color: #04396C;
}
.flag-alert-system{
    background-image: url("images/flag-alert-system-bg.png");
    background-repeat: no-repeat;
    background-position: 77% 140px;
    background-size: 30%;
}
.multiple-unique-features-body-info {
    margin-top: 80px;
}

.practical-features-section {
    background-image: url("images/header-bg-noth.png"), url('images/header-bg-practical.png');
    background-position: right 160px, left top;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    background-size: 54%, contain;
    top: -290px;
    display: inline-block;
    width: 100%;
}


.practical-features-title h3 {
    font-size: 68px;
    font-weight: 700;
    line-height: 67px;
    color: #fff;
    margin-bottom: 17px;
}

.practical-features-description {
    font-size: 32px;
    color: #fff;
    line-height: 35.2px;
    margin-bottom: 30px;
    font-weight: 400;
}

.practical-features-info {
    width: 600px;
    display: inline-block;
    padding: 350px 0 150px;
}
.why-mobiclocks-title h3 {
    font-size: 68px;
    color: #04396C;
    font-weight: 500;
    text-align: center;
}

.why-mobiclocks-description {
    font-size: 23px;
    width: 915px;
    line-height: 30px;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
}

.box-1-hover:before{
    transform: rotate(360deg);
    transition: 3s;
}
.box-2-hover:before{
    transform: rotate(230deg);
    transition: 3s;
}
.box-3-hover:before{
    transform: rotate(45deg);
    transition: 3s;
}
.box-4-hover:before{
    transform: rotate(140deg);
    transition: 3s;
}

.practical-features-btn a {
    padding: 18px 14px;
    background-color: #fff;
    font-size: 18px;
    border-radius: 10px;
    width: 220px;
    color: #47B7E8;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.practical-features-btn {
    display: inline-block;
}

.why-mobiclocks-section {position: relative;top: 90px;}

.clock-section:before {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1400px) {
    .container {
        width: 1140px;
    }
}
@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}
@media (max-width: 992px) {
    .container {
        width: 720px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 540px;
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}




.banner-info {
    padding-top: 39px;
}
